html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  background: #222;
  height: 100%;
  overflow: hidden;
}

.canvasContainer {
  flex-grow: 1;
  overflow: hidden;
  padding: 10px;
}

.colorPickerContainer {
  flex-grow: 0;
  border-top: 1px solid #444;
  background: #333;
  padding: 2px;
}
