html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  background: #222;
  height: 100%;
}

.canvasContainer {
  flex-grow: 1;
}

.colorPickerContainer {
  flex-grow: 0;
  border-top: 1px solid #444;
  background: #333;
  padding: 2px;
}

x {
  background: #68a941;
  background: #905f25;
  background: #574200;
}

/* '80, 80, 80', 'bb, 77, 6d',
'ab, ab, ab', '7a, bf, c7',
'd0, dc, 71', 'ff, ff, ff',
'68, a9, 41', '54, 54, 54',
'3e, 31, a2', '90, 5f, 25',
'0, 0, 0',    '57, 42, 0',
'ac, ea, 88', '7c, 70, da',
'8c, 3e, 34', '8d, 47, b3' */
